body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg,rgba(34,193,195,1)0%,rgba(121,32,153,1)86%);
    background-attachment: fixed;
    margin:0;
    font-family: 'poppins',sans-serif;
}
#form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    background-color: cross-fade(12px);
    
}
h1{
    text-align: center;
    color: aliceblue;
}
#input{
    background-color: #792099;
    color: wheat;
    border: 1px solid #792099;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    
    width: 50%;
}
.hi{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.hi input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid rgb(131, 34, 195);
}

