img{
    float:left;
    
}
p{
    font-size: 2em;
    color: rgb(250, 254, 250);
    text-overflow: ellipsis;
    text-shadow: 200px;
}
body{
    background-image: url(MEDIA/ipl\ backround.avif); 
    
    
    
    
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300vh;

    
}
h2{
    color: brown;
    font-size: 2em;
}
h1{
    font-size: 5em;
    color: white;
}
div{
    padding:1.3em;
}